@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.svg-logo circle[style*="#43baae"] {
  animation: float 4s ease-in-out infinite;
}

.svg-logo circle[style*="#43baae"]:nth-child(2n) {
  animation-delay: 0.5s;
}

.svg-logo circle[style*="#43baae"]:nth-child(3n) {
  animation-delay: 1s;
}
